<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="head">
        <h1 class="title">Practica del Tema 2 - DIW</h1>
        <p class="subtitle">
          Bienvenido a mi sitio web en el cual aplicamos Accesibilidad
        </p>
      </div>
    </header>
    <nav class="nav">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="acercaDe.html">Acerca De</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
    <main class="main">
      <section>
        <h1>Seccion descripcion tecnica accesibilidad web</h1>
        <p class="description">
          La accesibilidad web se refiere a la facilidad con la que una persona puede percibir, navegar e interactuar con el contenido web, independientemente de sus capacidades o circunstancias. La accesibilidad web abarca todas las discapacidades que afectan al acceso a la Web, incluyendo auditivas, cognitivas, neurológicas, físicas, del habla y visuales. La accesibilidad web es esencial para desarrolladores y organizaciones que quieren crear sitios y herramientas web de calidad y no excluir personas del uso de sus productos y servicios. La accesibilidad web es regulada por el W3C y es requisito legal en muchas ocasiones. La accesibilidad web permite que todas las personas, incluyendo aquellas con discapacidades, puedan acceder y utilizar los contenidos en línea de manera efectiva, lo que garantiza la igualdad de oportunidades.
        </p>
      </section>
    </main>
    <footer class="foot">
      <p>Correo electronico: doctormayonesa@gmail.com</p>
      <p>6969696969</p>
    </footer>
  </body>
</html>
