<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="head">
        <h1 class="title">Practica del Tema 2 - DIW</h1>
        <p class="subtitle">
          Bienvenido a mi sitio web en el cual aplicamos Accesibilidad
        </p>
      </div>
    </header>
    <nav class="nav">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="acercaDe.html">Acerca De</a></li>
        <li><a href="contacto.html">Contacto</a></li>
      </ul>
    </nav>
    <main class="main">
      <section>
        <article><img src="../assets/KimJohnCena.jpg" alt="Kim John Cena"></article>
        <article class="imgFoot">
            <h1>Kim John Cena</h1>
            <p class="description">Este personaje es una mezcla de John Cena y Kim Jong-un. John Cena es un luchador profesional estadounidense y Kim Jong-un es el líder supremo de Corea del Norte. La combinación de estos dos personajes podría resultar en un líder autoritario con habilidades físicas y de lucha.</p>
        </article>
      </section>
    </main>
    <footer class="foot">
      <p>Correo electronico: doctormayonesa@gmail.com</p>
      <p>6969696969</p>
    </footer>
  </body>
</html>
